.DS_Store
.claude/
*.ez
erl_crash.dump
**/bin/
**/obj/
**/build/
apps/
_build/

# Ignore compiled BEAM files
*.beam

*.pyc
output/

# Fable JS output
*.fs.js

# JS dependencies
node_modules/
package-lock.json